:root {
  /* Special */
  --bg: #21063a;
  --fg: #c8bbf0;
  --cursor: #c8bbf0;

  /* Colors */
  --color0: #21063a;
  --color1: #6e48db;
  --color2: #9d329b;
  --color3: #9752a5;
  --color4: #9d3cd6;
  --color5: #9a5ddc;
  --color6: #c667e3;
  --color7: #c8bbf0;
  --color8: #8c82a8;
  --color9: #6e48db;
  --color10: #9d329b;
  --color11: #9752a5;
  --color12: #9d3cd6;
  --color13: #9a5ddc;
  --color14: #c667e3;
  --color15: #c8bbf0;
}
html {
  font-family: "JetBrains Mono", san-serif;
  background-image: url(../images/stereo.bmp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
body {
  padding: 0px;
  margin: 15px;
  height: 90%;
}
nav {
  background-color: var(--bg);
  padding: 10px 10px 10px 25px;
  border-radius: 30px;
  opacity: 0.95;
  backdrop-filter: blur(80px);
  border-style: solid;
  border-color: var(--color1);
  display: flex;
  justify-content: space-between;
}
#logo {
  display: inline-block;
  color: var(--fg);
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}
#navbar {
  display: inline-flex;
  width: 50%;
  align-items: center;
  border-radius: 30px;
}
#navbar > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
}
#navbar > div > a {
  color: var(--fg);
  font-weight: bold;
  text-decoration: none;
}
#centerwelcome {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#welcomebox {
  background-color: var(--bg);
  border-radius: 30px;
  border-style: solid;
  border-color: var(--color1);
  color: var(--fg);
  font-weight: bold;
  opacity: 0.95;
  padding: 20px;
  width: 40%;
}
#welcomebox > p {
  font-size: 30px;
}
#welcomebox > #selectcrs {
  font-size: 25px;
}

#welcomebox > #selectsms {
  font-size: 18px;
}

#welcomebox > a {
  display: block;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  color: var(--fg);
}
hr {
  border-color: var(--fg);
}

#goback {
  background-color: var(--bg);

  font-size: 25px;
}

