<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>LOGIN</title>
    <link href="css/style.css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
            rel="stylesheet">
    <link href="css/login.css" rel="stylesheet"/>


</head>
<body>
<script src="js/themes.js">

</script>


<nav>
    <a href="/" id="logo">Better BIT</a>
    <div id="navbar">
        <div>
            <a href="#">Contributors</a>
            <a href="#">Contribute</a>
            <a href="/login">Login</a>
        </div>
        <div></div>
        <a href="#" onclick="showSidebar()">
            <span class="material-icons" id="menu" onclick="showSidebar()">
                menu
            </span>
        </a>
    </div>
</nav>

<div id="sign_box">
    <div class="sign_in ">
        <h2 id="login">Login</h2>

        <label class="username">
            <input type="text" required/>
            <span class="placeholder">Username</span>
        </label>

        <label class="password">
            <input type="text" required/>
            <span class="placeholder">Password</span>
        </label>

        <div id="btn_grp">
            <button class="btn_1">Register</button>
            <button class="btn_1">Forgot Password</button>
        </div>
    </div>
</div>

