<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <a href="#" id="logo">Better BIT</a>
      <div id="navbar">
        <div>
          <a href="#">Contributors</a>
          <a href="#">Contribute</a>
          <a href="#">Login</a>
        </div>
      </div>
    </nav>
    <div id="centerwelcome">
      <div id="welcomebox">
        <p id="wlcmbit">Welcome to BetterBIT</p>
        <p id="selectcrs">Select your course</p>
        <a href="#">Sem 2: DS</a>
        <hr />
        <a href="#">Sem 2: AIML</a>
        <hr />
        <a href="#">Sem 2: CS</a>
        <hr />
        <a href="#">Sem 2: ECE</a>
      </div>
    </div>
  </body>
</html>
