<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
            rel="stylesheet"
    />

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
<nav>
    <a href="#" id="logo">Better BIT</a>
    <div id="navbar">
        <div>
            <a href="#">Contributors</a>
            <a href="#">Contribute</a>
            <a href="#">Login</a>
        </div>
    </div>
</nav>
<div id="centerwelcome">
    <div id="welcomebox">

        <p id="selectcrs"><a id="goback" onclick="smoothChange('/')">
            <i class="fas fa-arrow-left" style="color: var(--fg); cursor: pointer;"></i>
        </a>
            Select your Semester</p>
        <p id="selectsms">(You can come back here after selecting)</p>
        <hr/>
        {% for sem in sems %}
        <a href="#" onclick="smoothChange(window.location.pathname+'/{{ sem }}')">{{ sem }}</a>
        <hr/>

        {% endfor %}
    </div>
</div>

</body>

</html>
